{% extends 'base.html.twig' %}

{%  block title %}
    Eco-Service - Valider commande
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/app.css">
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}
<div class="content">
    <div class="container mt-xl-5 mb-xl-5">
        <div style="margin-top: 125px;"></div>
        <ul class="nav nav-tabs nav-justified md-tabs bg-success " id="myTabJust" role="tablist">
            <li class="nav-item">
                <h3>Validation</h3>
            </li>
        </ul>
        <div class="tab-content card pt-5" id="myTabContentJust">
            <div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just">
                <div class="row">
                    <div class="col-md-6">
                        <h4><b>Adresse de livraison</b></h4>
                    </div></div>
                <div class="row">
                    <div class="col-md-6 ">
                        {{ form_start(formAddr) }}
                        {{ form_row(formAddr.address1) }}
                        {{ form_row(formAddr.address2) }}
                        <div class="row">
                            <div class="col">{{ form_row(formAddr.city) }}</div>
                            <div class="col">{{ form_row(formAddr.zip_code) }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ form_row(formAddr.phone) }}</div>
                            <div class="col">{{ form_row(formAddr.mail) }}</div>
                        </div>
                        {{ form_row(formAddr.country) }}
                        <div class="row justify-content-center">
                            <button href="{{ path('cart.confirm', {id: user.id}) }}" class="btn btn-outline-success btn-sm center">Editer</button>
                        </div>
                        {{ form_end(formAddr) }}
                    </div>
                    <div class="col-md-4 ">
                        <div class="row" style="">
                            <div class="checkout_details">
                                <div class="col justify-content-center">
                                    <dl class="dl-horizontal">
                                        <dt>Nom utilisateur:<span></span></dt>
                                        <dd>{{ user.username }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Adresse:<span></span></dt>
                                        <dd>{{ user.address1 |nl2br }} <br> {{ user.address2 |nl2br }} <br> {{ user.zipCode }} {{ user.city }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Pays:<span></span></dt>
                                        <dd><b>{{ user.country|upper }}</b></dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Télephone:<span></span></dt>
                                        <dd>{{ user.phone }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Email:<span></span></dt>
                                        <dd>{{ user.mail }}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                {% if(hasFullProfile) %}
                    {{ form_start(formCardData) }}
                        <fieldset>
                            <legend>Information Paiement</legend>
                            <div class="row">
                                <div class="form-group col-sm-8">
                                    {{ form_row(formCardData.name) }}
                                </div>
                                <div class="form-group col-sm-2">
                                    {{ form_row(formCardData.month) }}
                                </div>
                                <div class="form-group col-sm-2 mt-sm-2">
                                    {{ form_row(formCardData.year) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-8">
                                    {{ form_row(formCardData.cardNumber, {'type':'number'}) }}
                                </div>
                                <div class="form-group col-sm-2">
                                    {{ form_row(formCardData.cardChoices) }}
                                </div>

                                <div class="form-group col-sm-2">
                                    {{ form_row(formCardData.cardCvv, {'type':'number'}) }}
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button href="{{ path('cart.confirm', {id: user.id}) }}" class="btn btn-success float-center" data-toggle="modal" data-target="#myModal" >Valider la commande</button>
                                </div>
                            </div>
                        </fieldset>
                    {{ form_end(formCardData) }}
                {% else %}
                    <div class="alert alert-warning" role="alert">
                        Profil imcomplet veuillez éditer votre adresse !
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}