{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/app.css">
{% endblock %}

{% block body %}

    <div class="container">
        <h2>Votre panier</h2>

        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                {% if items | length > 0%}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Quantité</th>
                            <th class="text-center">Prix</th>
                            <th class="text-center">Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <form action="POST">
                            {% for item in items %}
                                <tr>
                                    <td class="col-sm-8 col-md-6">
                                        <div class="media">
                                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="../../{{ imagepath ~ item.img }}" style="width: 72px; height: 72px;"> </a>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="{{ path('product.show',{'id': item.id, 'slug': '' } ) }}">{{ item.name }}</a></h4>
                                                <h5 class="media-heading"> par <a href="#">Eco-Service</a></h5>
                                            </div>
                                        </div></td>
                                    <td class="col-sm-1 col-md-1" style="text-align: center">
                                        <input type="number" name="idQty{{ item.id }}" class="form-control" value="{{ item.qty }}">
                                    </td>
                                    <td class="col-sm-1 col-md-1 text-center"><strong>{{ item.price }} €</strong></td>
                                    <td class="col-sm-1 col-md-1 text-center">
                                        <strong>
                                            {{ item.subtotal }} €
                                        </strong>
                                    </td>
                                    <td class="col-sm-1 col-md-1">
                                        <a href="{{ path('cart.remove', {'id': item.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                                    </td>
                                </tr>
                                {% endfor %}
                        </form>
                                <tr>
                                    <td>   </td>
                                    <td>   </td>
                                    <td>   </td>
                                    <td><h5>Sous-total</h5></td>
                                    <td class="text-right"><h5><strong>{{ total }} €</strong></h5></td>
                                </tr>
                                <tr>
                                    <td>   </td>
                                    <td>   </td>
                                    <td>   </td>
                                    <td><h5>Frais de port</h5></td>
                                    <td class="text-right"><h5><strong>$6.94</strong></h5></td>
                                </tr>
                                <tr>
                                    <td>   </td>
                                    <td>   </td>
                                    <td>   </td>
                                    <td><h3>Total</h3></td>
                                    <td class="text-right"><h3><strong> {{ total + 6.94 }} €</strong></h3></td>
                                </tr>
                                <tr>
                                    <td><button type="button" class="btn btn-primary"> Mettre à jour le panier </button></td>
                                    <td>   </td>
                                    <td>   </td>
                                    <td>
                                        <a href="{{ path('product.index') }}" class="btn btn-secondary"> Articles </a></td>
                                    <td>
                                        {% if(app.user) %}
                                            <a href="{{ path('cart.confirm', {id: user.id}) }}" class="btn btn-success"> Paiement </a>
                                        {% else %}
                                            <a href="{{ path('security.login') }}" class="btn btn-success"> Paiement </a>
                                        {% endif %}
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                {% else %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Quantité</th>
                            <th class="text-center">Prix</th>
                            <th class="text-center">Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-sm-8 col-md-6">
                                    <div class="media">
                                        <a class="thumbnail pull-left" href="#">  </a>
                                        <div class="media-body">
                                            <h4 class="media-heading"></h4>
                                            <h5 class="media-heading"></h5>
                                        </div>
                                    </div></td>
                                <td class="col-sm-1 col-md-1" style="text-align: center">
                                    <input type="number" class="form-control" value="">
                                </td>
                                <td class="col-sm-1 col-md-1 text-center"><strong>--€</strong></td>
                                <td class="col-sm-1 col-md-1 text-center">
                                    <strong>
                                        -- €
                                    </strong>
                                </td>
                                <td class="col-sm-1 col-md-1">

                                </td>
                            </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h5>Sous-total</h5></td>
                            <td class="text-right"><h5><strong>--€</strong></h5></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h5>Frais de port</h5></td>
                            <td class="text-right"><h5><strong>$6.94</strong></h5></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h3>Total</h3></td>
                            <td class="text-right"><h3><strong> -- €</strong></h3></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-primary"> Mettre à jour le panier </button></td>
                            <td>   </td>
                            <td>   </td>
                            <td>
                                <a href="{{ path('product.index') }}" class="btn btn-secondary"> Articles </a></td>
                            <td>
                                {% if(app.user) %}
                                    <a href="{{ path('cart.index') }}" class="btn btn-success"> Paiement </a>
                                {% else %}
                                    <a href="{{ path('security.login') }}" class="btn btn-success"> Se connecter </a>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
