{% extends 'base.html.twig' %}

{%  block title %}
    Eco-Service -
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="../../css/app.css">
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-2 offset-4">
            <h4>Profil</h4>
            {{ form_start(formUpdate) }}
                {{ form_row(formUpdate.first_name) }}
                {{ form_row(formUpdate.last_name) }}
                {{ form_row(formUpdate.mail) }}
                {{ form_row(formUpdate.address1) }}
                {{ form_row(formUpdate.address2) }}
        </div>

        <div class="col-2">
            <h4>Profil</h4>
            {{ form_row(formUpdate.city) }}
            {{ form_row(formUpdate.zip_code) }}
            {{ form_row(formUpdate.country) }}
            {{ form_row(formUpdate.phone) }}
            <button class="btn btn-grey">Modifier</button>
            {{ form_end(formUpdate) }}
        </div>
    </div>
    <style>
        input{
            width: 18%;
        }
    </style>
{% endblock %}