{% extends 'base.html.twig' %}

{%  block title %}
    Eco-Service -
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/appAdmin.css">
{% endblock %}

{% block javascripts %}
{% endblock %}


{% block body %}

    <div class="document active">
        <div class="spreadSheetGroup">
            <hr style="visibility:hidden"/>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <table class="proposedWork" width="100%" style="margin-top:20px">
                        <thead>
                        <th>QTY</th>
                        <th>NOM</th>
                        <th>CATEGORIE</th>
                        <th class="amountColumn">TOTAL</th>
                        </thead>
                        <tbody>
                        {% for item in orderList %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td class="unit">{{ item.name }}</td>
                            <td class="description"></td>
                            <td class="empty"></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td style="border:none"></td>
                                <td style="border:none"></td>
                                <td style="border:none;text-align:right">SOUS-TOTAL:</td>
                                <td class="amount subtotal"> {{ order.price - 6.94 }}€</td>
                            </tr>
                            <tr>
                                <td style="border:none"></td>
                                <td style="border:none"></td>
                                <td style="border:none;text-align:right;white-space:nowrap">FRAIS DE PORT:</td>
                                <td class="amount">6.94€</td>
                            </tr>
                            <tr>
                                <td style="border:none"></td>
                                <td style="border:none"></td>
                                <td style="border:none;text-align:right">TOTAL:</td>
                                <td class="total amount" >{{ order.price}} €</td>
                            </tr>
                        </tfoot>
                    </table>

                    <div class="col-md-4">
                        <div class="row">
                            <p>
                                {{ order.address.city }}
                            </p>
                        </div>
                        {{ form_start(form) }}
                        <div class="row">
                            {{ form_row(form.order_status) }}
                        </div>
                        <div class="row">
                            <a href="{{ path('admin.order.edit', {id: order.id}) }}"></a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


