<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        <link rel="stylesheet" href="{{ asset('../mdbootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('../mdbootstrap/css/mdb.min.css') }}">
        <link rel="stylesheet" href="{{ asset('../mdbootstrap/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('../fontawesome/css/all.css') }}">

        {% block stylesheets %}

        {% endblock %}
        <script type="text/javascript" src="{{ asset('../mdbootstrap/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('../mdbootstrap/js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('../mdbootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('../mdbootstrap/js/mdb.min.js') }}"></script>

        {% block javascripts %}

        {% endblock %}
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark success-color-dark">
                <a href="{{ path('home') }}" class="navbar-brand logo"><img src="{{ asset('ressources/img/Logo4.png') }}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicNav" aria-controls="basicNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="basicExampleNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link configuration" href="{{ path('home.presentation') }}"><i class="fas fa-seedling"></i><B>Présentation</B></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link configuration" href="{{ path('product.index') }}"><i class="fas fa-shopping-basket"></i><B>Nos produits</B></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link configuration" href="{{ path('home.contact') }}"><i class="fas fa-clipboard"></i><B>Nos services</B></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link configuration" href="{{ path('home.help') }}"><i class="fas fa-question"></i><B>Aide</B></a>
                        </li>
                        {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link configuration" href="{{ path('security.login') }}"><i class="fas fa-envelope"></i><B>Connexion</B></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link configuration" href="{{ path('security.registration') }}"><i class="fas fa-envelope"></i><B>Inscription</B></a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link configuration" href="{{ path('cart.index') }}" ><i class="fas fa-shopping-cart"></i><B>Panier</B></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false"><B>{{ app.user.username }}</B></a>
                            <!-- Dropdown menu -->
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Profil</a></li>
                                <li><hr class="dropdown-divider"/></li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('security.logout') }}">Deconnexion</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% block sidebar %}{% endblock %}
        </header>
        {% block body %}{% endblock %}

        <footer class="page-footer text-center text-md-left success-color-dark pt-0 pt-3 mt-4">
            <!--Footer Links-->
            <div class="container mt-5 mb-4 text-center text-md-left">
                <div class="row mt-3">

                    <!--First column-->
                    <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                        <h6 class="text-uppercase font-weight-bold">
                            <strong>Eco-service</strong>
                        </h6>
                        <hr class="white mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>Eco-Service est une société spécialisée dans le recyclage d'appareils électriques et électroniques usagés, outils indsutrielles, déchets organiques</p>
                    </div>
                    <!--/.First column-->

                    <!--Second column-->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase font-weight-bold">
                            <strong>Produits</strong>
                        </h6>
                        <hr class="white mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>
                            <a href="{{ path('product.index') }}">Tous les produits</a>
                        </p>
                        <p>
                            <a href="{{ path('product.index') }}">Meilleures ventes</a>
                        </p>
                    </div>
                    <!--/.Second column-->

                    <!--Third column-->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase font-weight-bold">
                            <strong>Navigation</strong>
                        </h6>
                        <hr class="white mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>
                            <a href="{{ path("home") }}">Accueil</a>
                        </p>
                        <p>
                            <a href="{{ path('home.presentation') }}">Découvrez Eco-service</a>
                        </p>
                        <p>
                            <a href="#!">Demande de devis</a>
                        </p>
                    </div>
                    <!--/.Third column-->

                    <!--Fourth column-->
                    <div class="col-md-4 col-lg-3 col-xl-3">
                        <h6 class="text-uppercase font-weight-bold">
                            <strong>Contact</strong>
                        </h6>
                        <hr class="white mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p><a href="{{ path('home.help') }}">Ecrivez-nous ici</a></p>
                    </div>
                    <!--/.Fourth column-->

                </div>
            </div>
            <!--/.Footer Links-->

            <!-- Copyright-->
            <div class="footer-copyright py-3 text-center">
                <div class="container-fluid">
                    © 2020 Copyright <a href="{{ path('home') }}" target="_blank">eco-service</a>
                </div>
            </div>
            <!--/.Copyright -->

        </footer>
    </body>
</html>
